@import "compass/reset";
@import "compass/css3";
@import "compass/typography";
@import "compass/utilities/general/clearfix";

// * Vars

// ** Colours
$main-colour: rgb(0,33,71);
$main-colour-light: lighten($main-colour, 5%);
$text-contrast-colour: white;
$text-main-colour: darken(#7f8c8d, 20%);
$text-main-colour-light: darken(#95a5a6, 45%);
$text-title-colour: darken($text-main-colour, 7.5%);
$text-blue-colour: $main-colour-light;
$background-colour: #ecf0f1;
$main-red: rgb(227,50,74);

// ** Sizes
$text-size-small  : 11pt;
$text-size-default: 15pt;
$text-size-large  : 25pt;

/***************************
	Hacks
***************************/

* {
	@include box-sizing(border-box);
	&:focus, &:active {
		outline: 0;
	}
}

/***************************
	Fonts
***************************/

@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic");

body, 
button,
input, 
textarea {
	font-family: 'Lato', sans-serif;
}


/***************************
	Common CSS
***************************/

h1 {
	color: $text-title-colour;
	font-size: 30pt;
	padding-bottom: 20px;
}

h2 {
	color: $text-title-colour;
	font-size: 22.5pt;
}

h3 {
	color: $text-main-colour;
	font-weight: bold;
	font-size: 20pt;
}

h4 {
	color: $text-main-colour;
	font-weight: bold;
	font-size: 17.5pt;
	padding: 10px 0;
}

/* Buttons */

@mixin button($color, $fontSize: $text-size-small) {
	@include transition(.3s background-color);
	@include border-radius(5px);
	border: 0;
	padding: 10px 15px;
	font-size: $fontSize;
	color: white;
	background-color: $color;
	&:hover {
		background-color: darken($color, 5%);
		cursor: pointer;
	}
	&:active {
		background-color: darken($color, 7.5%);
	}
}

button          { @include button($main-colour) }
button.register { @include button($main-red, $text-size-default) }

input {
	@include border-radius(5px);
	padding: 7px;
	border: 0;
	font-size: 12pt;
	display: block;
	color: $text-main-colour;
}

a {
	@include transition(.3s, color);
	@include unstyled-link();
	&:hover {
		cursor: pointer;
	}
}
.link-main {border-bottom: 1px solid $main-red}
.link-underline { &:hover{ text-decoration: underline; } }

p { 
	padding: 5px 0;
	line-height: 32px;
}

.separator {
	margin: 20px 0;
	border-bottom: 1px solid lighten($text-main-colour-light, 30%);
}

.faded      { color: rgba(255,255,255,.5) }
.text-light { font-weight: 100 }
.text-bold  { font-weight: 400 }

.centre      { text-align:center }
.full_width  { width: 100vw }
.full_height { height: 100vh }

.italic      { font-style: italic }

.float-left  { float: left }
.float-right { float: right }
.indent      { padding-left: 20px }
/***************************
	Main CSS
***************************/

body {
	background: $background-colour;
	font-weight: 300;
	font-size: $text-size-default;
}

/* Navigation Bar */
$nav-height: 75px;
nav {
	position: fixed;
	z-index: 10;
	display: table;
	width: 100vw;
	height: $nav-height;
	background-color: rgba(0,0,0,.3);
	color: $text-contrast-colour;
	padding: 0 10vw;
	a:hover { color: rgba($text-contrast-colour, .8) }
	.nav-left, .nav-right {
		display: table-cell;
		vertical-align: middle;
		
	}
	.nav-left {
		font-size: $text-size-large;
	}
	.nav-right {
		font-size: $text-size-default;
		text-align: right;
		ul {
			li {
				display: inline;
				padding: 0 .75vw;

			}
		}
	}
}
/* Nav Override Class */
.nav-opaque { background-color: mix(#002147, #1e77a0) !important }
/* Nav Tooltip */
.nav-tooltip {
	font-size: 15pt;
	font-family: 'Lato', sans-serif;
	li {
		padding: 7px 3px;
		margin: 6px;
		border-bottom: 1px solid rgba(255,255,255,.25);
	}
}

@-webkit-keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        transform: translateY(20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

.home {
	@extend .full_width;
	@extend .full_height;
	text-align: center;
	color: $text-contrast-colour;
	// BG CONFIG
	position: relative;
	background: url(../assets/img/bg-main.jpg) center center no-repeat;
	@include background-size(cover);
	z-index: -2;
	&:after {
		content: '\A';
		opacity: .85;
		top:0; left:0;
		z-index: -1;
  		width:100%;height:100%;
  		position: absolute;
  		/* Gradient */
		background: rgb(0,33,71);
		@include filter-gradient(#002147, #1e77a0, horizontal);
		@include background-image(linear-gradient(left bottom,rgba(0,33,71,1) 0%,rgba(30,119,160,1) 99%));
	}
	main {
		animation: fadeInUp .6s ease both;
		-webkit-animation: fadeInUp .6s ease both;
		position: relative;
		top: 40vh;
		font-size: $text-size-large;
		p { padding: 1.75vh 0 }
	}
	footer {
		position: relative;
		top: 70vh;
		.footer-info {
			display: inline-block;
			margin: 0 2.5vw;
			.footer-info-top {
				font-size: $text-size-large;
			}
			.footer-info-bottom: {
				font-size: $text-size-default
			}
		}
	}
}

.container-common {
	position: relative;
	top: $nav-height + 25px;
	color: $text-main-colour-light;
	padding: 0 10vw;
}

.speaker-headshots {
	a:hover {
		text-decoration: underline;
	}
	.speaker-headshot {
		float: left;
		font-size: 75%;
		width: 17.5%;
		margin: 1.75em 0;
		margin-right: 2.5em;
		height: 250px;
		div:not(.speaker-headshot-pic) {
			padding-bottom: .5em;
		}
		.speaker-headshot-pic {
			width: 100%;
			height: 200px;
			@include border-radius();
			@include background-size(cover);
			background-position: center;
		}
		.speaker-headshot-name {
			padding-top: .75em;
		}
		.speaker-headshot-contact {
			font-weight: bold;
		}
		/* Media queries for responsive image grid */
		@media screen and (max-width: 1750px) {
			width: 20%;		
		}
		@media screen and (max-width: 1000px) {
			width: 27.5%;		
		}
		@media screen and (max-width: 805px) {
			width: 40%;		
		}
		@media screen and (max-width: 525px) {
			width: 100%;
		}
	}
}

.committee-headshots { 
	@extend .speaker-headshots;
	.committee-headshot {
		@extend .speaker-headshot;
		div:not(.committee-headshot-pic) {
			padding-bottom: .5em;
		}
		.committee-headshot-pic {
			@extend .speaker-headshot-pic;
		}
		.committee-headshot-name {
			font-size: 130%;
			padding-top: 10px;
			@extend .committee-headshot-name;
		}
		.committee-headshot-role {
			color: lighten($text-main-colour-light, 30%);
		}
	}
}

.participant-list {
	padding-top: 25px;
	font-size: 17.5pt;
	.participant {
		padding: 7px 0;
		&:nth-child(even) {
			background: darken($background-colour, 2.5%);
		}
	}
}

.faqs {
	padding-top: 20px;
	font-size: 12.5pt;
	.faq-q {
		padding-top: 15px;
		padding-bottom: 4px;
	}
	.faq-a {
		padding-top: 4px;
		padding-bottom: 15px;
	}
	.faq-a {
		padding-left: 3px;
	}
	.faq-q {
		@extend .text-bold;
	}
}

.register {
	table {
		border-collapse: collapse;
		width: 100%;
		border: 1px solid lighten($text-main-colour, 30%);
		th, td {
			border: 1px solid lighten($text-main-colour, 30%);
			padding: 4px 10px;
		}
		th {
			font-weight: 400;
			color:darken($text-main-colour, 20%);
		}
		td {
			font-weight: 300 !important; 
			vertical-align: middle;
			form {
				// Stops the form ruining the view
				height: 40px;
			}
		}
	}
}

.schedule-track-list {
	li {
		padding: 0 0 5px 10px;
		font-style: italic;
		a {
			@extend .link-underline;
		}
	}
}

