@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Font */
body,
button,
input,
textarea {
  font-family: 'Lato', sans-serif;
}

/* Hacks */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus, *:active {
  outline: 0;
}

/* Common */
h1 {
  color: #4a5758;
  font-size: 30pt;
}

h2 {
  color: #4a5758;
  font-size: 22.5pt;
}

h3 {
  color: #7f8c8d;
  font-style: bold;
  font-size: 20pt;
}

button {
  -webkit-transition: 0.3s background-color;
  -moz-transition: 0.3s background-color;
  -o-transition: 0.3s background-color;
  transition: 0.3s background-color;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  padding: 10px 15px;
  font-size: 11pt;
  color: white;
  background-color: #002147;
}
button:hover {
  background-color: #002d61;
  cursor: pointer;
}
button:active {
  background-color: #00397a;
}

input {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 7px;
  border: 0;
  font-size: 12pt;
  display: block;
  color: #7f8c8d;
}

.faded {
  color: rgba(255, 255, 255, 0.5);
}

/* Main */
body {
  background: #ecf0f1;
}
