@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/***************************
	Hacks
***************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus, *:active {
  outline: 0;
}

/***************************
	Fonts
***************************/
body,
button,
input,
textarea {
  font-family: 'Lato', sans-serif;
}

/***************************
	Common CSS
***************************/
h1 {
  color: #3c4344;
  font-size: 30pt;
  padding-bottom: 20px;
}

h2 {
  color: #3c4344;
  font-size: 22.5pt;
}

h3 {
  color: #4e5758;
  font-weight: bold;
  font-size: 20pt;
}

h4 {
  color: #4e5758;
  font-weight: bold;
  font-size: 17.5pt;
  padding: 10px 0;
}

/* Buttons */
button {
  -webkit-transition: 0.3s background-color;
  -moz-transition: 0.3s background-color;
  -o-transition: 0.3s background-color;
  transition: 0.3s background-color;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  padding: 10px 15px;
  font-size: 11pt;
  color: white;
  background-color: #002147;
}
button:hover {
  background-color: #00152e;
  cursor: pointer;
}
button:active {
  background-color: #000f21;
}

button.register {
  -webkit-transition: 0.3s background-color;
  -moz-transition: 0.3s background-color;
  -o-transition: 0.3s background-color;
  transition: 0.3s background-color;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  padding: 10px 15px;
  font-size: 15pt;
  color: white;
  background-color: #e3324a;
}
button.register:hover {
  background-color: #dd1e38;
  cursor: pointer;
}
button.register:active {
  background-color: #d21d35;
}

input {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 7px;
  border: 0;
  font-size: 12pt;
  display: block;
  color: #4e5758;
}

a {
  -webkit-transition: 0.3s, color;
  -moz-transition: 0.3s, color;
  -o-transition: 0.3s, color;
  transition: 0.3s, color;
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
a:active, a:focus {
  outline: none;
}
a:hover {
  cursor: pointer;
}

.link-main {
  border-bottom: 1px solid #e3324a;
}

.link-underline:hover, .schedule-track-list li a:hover {
  text-decoration: underline;
}

p {
  padding: 5px 0;
  line-height: 32px;
}

.separator {
  margin: 20px 0;
  border-bottom: 1px solid #6d8082;
}

.faded {
  color: rgba(255, 255, 255, 0.5);
}

.text-light {
  font-weight: 100;
}

.text-bold, .faqs .faq-q {
  font-weight: 400;
}

.centre {
  text-align: center;
}

.full_width, .home {
  width: 100vw;
}

.full_height, .home {
  height: 100vh;
}

.italic {
  font-style: italic;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.indent {
  padding-left: 20px;
}

/***************************
	Main CSS
***************************/
body {
  background: #ecf0f1;
  font-weight: 300;
  font-size: 15pt;
}

/* Navigation Bar */
nav {
  position: fixed;
  min-width: 785px;
  z-index: 10;
  display: table;
  width: 100vw;
  height: 75px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 0 10vw;
}
nav a:hover {
  color: rgba(255, 255, 255, 0.8);
}
nav .nav-left, nav .nav-right {
  display: table-cell;
  vertical-align: middle;
}
nav .nav-left {
  font-size: 25pt;
}
nav .nav-right {
  font-size: 15pt;
  text-align: right;
}
nav .nav-right ul li {
  display: inline;
  padding: 0 .75vw;
}
@media screen and (max-width: 785px) {
  nav {
    position: absolute;
  }
}

/* Nav Override Class */
.nav-opaque {
  background-color: #0f4c73 !important;
}

/* Nav Tooltip */
.nav-tooltip {
  font-size: 15pt;
  font-family: 'Lato', sans-serif;
}
.nav-tooltip li {
  padding: 7px 3px;
  margin: 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.home {
  min-width: 785px;
  text-align: center;
  color: white;
  position: relative;
  background: url(../assets/img/bg-main.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -2;
}
.home:after {
  content: '\A';
  opacity: .85;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  /* Gradient */
  background: #002147;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF002147', endColorstr='#FF1E77A0');
  background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, #002147), color-stop(99%, #1e77a0));
  background-image: -webkit-linear-gradient(left bottom, #002147 0%, #1e77a0 99%);
  background-image: -moz-linear-gradient(left bottom, #002147 0%, #1e77a0 99%);
  background-image: -o-linear-gradient(left bottom, #002147 0%, #1e77a0 99%);
  background-image: linear-gradient(left bottom, #002147 0%, #1e77a0 99%);
}
.home main {
  animation: fadeInUp .6s ease both;
  -webkit-animation: fadeInUp .6s ease both;
  position: relative;
  top: 40vh;
  font-size: 25pt;
}
.home main p {
  padding: 1.75vh 0;
}
.home footer {
  position: relative;
  top: 70vh;
}
.home footer .footer-info {
  display: inline-block;
  margin: 0 2.5vw;
  .footer-info-bottom-font-size: 15pt;
}
.home footer .footer-info .footer-info-top {
  font-size: 25pt;
}

.container-common {
  min-width: 785px;
  position: relative;
  top: 100px;
  color: #272e2e;
  padding: 0 10vw;
}

.speaker-headshots a:hover, .committee-headshots a:hover {
  text-decoration: underline;
}
.speaker-headshots .speaker-headshot, .committee-headshots .speaker-headshot, .committee-headshots .committee-headshot {
  float: left;
  font-size: 75%;
  width: 17.5%;
  margin: 1.75em 0;
  margin-right: 2.5em;
  height: 250px;
  /* Media queries for responsive image grid */
}
.speaker-headshots .speaker-headshot div:not(.speaker-headshot-pic), .committee-headshots .speaker-headshot div:not(.speaker-headshot-pic), .committee-headshots .committee-headshot div:not(.speaker-headshot-pic) {
  padding-bottom: .5em;
}
.speaker-headshots .speaker-headshot .speaker-headshot-pic, .committee-headshots .speaker-headshot .speaker-headshot-pic, .committee-headshots .committee-headshot .speaker-headshot-pic, .committee-headshots .committee-headshot .committee-headshot-pic {
  width: 100%;
  height: 200px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}
.speaker-headshots .speaker-headshot .speaker-headshot-name, .committee-headshots .speaker-headshot .speaker-headshot-name, .committee-headshots .committee-headshot .speaker-headshot-name {
  padding-top: .75em;
}
.speaker-headshots .speaker-headshot .speaker-headshot-contact, .committee-headshots .speaker-headshot .speaker-headshot-contact, .committee-headshots .committee-headshot .speaker-headshot-contact {
  font-weight: bold;
}
@media screen and (max-width: 1750px) {
  .speaker-headshots .speaker-headshot, .committee-headshots .speaker-headshot, .committee-headshots .committee-headshot {
    width: 20%;
  }
}
@media screen and (max-width: 1000px) {
  .speaker-headshots .speaker-headshot, .committee-headshots .speaker-headshot, .committee-headshots .committee-headshot {
    width: 27.5%;
  }
}
@media screen and (max-width: 805px) {
  .speaker-headshots .speaker-headshot, .committee-headshots .speaker-headshot, .committee-headshots .committee-headshot {
    width: 40%;
  }
}
@media screen and (max-width: 525px) {
  .speaker-headshots .speaker-headshot, .committee-headshots .speaker-headshot, .committee-headshots .committee-headshot {
    width: 100%;
  }
}

.committee-headshots .committee-headshot div:not(.committee-headshot-pic) {
  padding-bottom: .5em;
}
.committee-headshots .committee-headshot .committee-headshot-name {
  font-size: 130%;
  padding-top: 10px;
}
.committee-headshots .committee-headshot .committee-headshot-role {
  color: #6d8082;
}

.participant-list {
  padding-top: 25px;
  font-size: 17.5pt;
}
.participant-list .participant {
  padding: 7px 0;
}
.participant-list .participant:nth-child(even) {
  background: #e5eaec;
}

.faqs {
  padding-top: 20px;
  font-size: 12.5pt;
}
.faqs .faq-q {
  padding-top: 15px;
  padding-bottom: 4px;
}
.faqs .faq-a {
  padding-top: 4px;
  padding-bottom: 15px;
}
.faqs .faq-a {
  padding-left: 3px;
}

.register table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #9aa4a5;
}
.register table th, .register table td {
  border: 1px solid #9aa4a5;
  padding: 4px 10px;
}
.register table th {
  font-weight: 400;
  color: #1e2222;
}
.register table td {
  font-weight: 300 !important;
  vertical-align: middle;
}
.register table td form {
  height: 40px;
}

.schedule-track-list li {
  padding: 0 0 5px 10px;
  font-style: italic;
  float: left;
  width: 50%;
}
