RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

#AuthType Basic
#AuthName "Password Protected Area"
#AuthUserFile /var/www/vhosts/yrm2015.co.uk/.htpasswd
#Require valid-user